<mat-card style="height: 300px; width: 200px; margin: 0 auto;">
	<h1 style="text-align: center;">Login</h1>
	<form>
		<mat-form-field>
			<mat-label>Email</mat-label>
			<input matInput placeholder="Email" value="123456@student.pwr.edu.pl">
		</mat-form-field>

		<mat-form-field class="example-full-width">
			<mat-label>Password</mat-label>
			<input matInput placeholder="Password" value="qwerty123">
		</mat-form-field>


		<button style="background-color: #35C31E;" mat-raised-button>Login</button>
		<p>Forgot password? Reset here.</p>
	</form>
</mat-card>
