<mat-card style="height: 400px; width: 200px; margin: 0 auto;">
	<h1 style="text-align: center;">Register</h1>
	<form>
		<mat-form-field>
			<mat-label>Email</mat-label>
			<input matInput placeholder="Email" value="123456@student.pwr.edu.pl">
		</mat-form-field>

		<mat-form-field class="example-full-width">
			<mat-label>Password</mat-label>
			<input matInput placeholder="Password" value="qwerty123">
		</mat-form-field>

		<mat-form-field class="example-full-width">
			<mat-label>Repeat password</mat-label>
			<input matInput placeholder="Repeat password" value="qwerty123">
		</mat-form-field>


		<mat-checkbox>Accept rules</mat-checkbox>
		<br>
		<button mat-raised-button>Register</button>
	</form>
</mat-card>
