<div class="container">
	<mat-card class="vertical-center">
		<h1>User profile</h1>

		<form class="user-form">
			<mat-form-field class="user-form-field">
				<mat-label>First name</mat-label>
				<input matInput value="Janusz">
			</mat-form-field>

			<mat-form-field class="user-form-field">
				<mat-label>Last name</mat-label>
				<input matInput value="Pawlacz">
			</mat-form-field>

			<mat-form-field class="user-form-field">
				<mat-label>Email</mat-label>
				<input matInput value="mimi@email.com">
			</mat-form-field>

			<mat-form-field class="user-form-field">
				<mat-label>Password</mat-label>
				<input matInput>
			</mat-form-field>

			<mat-form-field class="user-form-field">
				<mat-label>New password</mat-label>
				<input matInput>
			</mat-form-field>

			<mat-form-field class="user-form-field">
				<mat-label>Phone</mat-label>
				<input matInput value="123-545-999">
			</mat-form-field>


			<button style="margin-right: 10px;" mat-raised-button color="primary">Update</button>
			<button mat-raised-button color="warn">DELETE ACCOUNT</button>
		</form>
	</mat-card>

</div>
