<mat-toolbar class="toolbar-styling" [class.mat-elevation-z8]="true">
	<a mat-button [routerLink]="'/'" class="menu-btn"
	   (click)="setActiveTab('/')"
	   [class.mat-raised-button]="activeTab === '/'"
	   [ngClass]="{'active-tab': activeTab === '/'}">
		<img src="assets/leaf_icon.png" width="32">
		<span class="logo label v-align-middle">RecyclEasy</span>
	</a>
	<a mat-button [routerLink]="'/advertisements'" class="menu-btn"
	   (click)="setActiveTab('/advertisements')"
	   [class.mat-raised-button]="activeTab === '/advertisements'"
	   [ngClass]="{'active-tab': activeTab === '/advertisements'}">
		<mat-icon>featured_video</mat-icon>
		<span class="label v-align-middle">Advertisements</span>
	</a>
	<a mat-button [routerLink]="'/pending'" class="menu-btn"
	   (click)="setActiveTab('/pending')"
	   [class.mat-raised-button]="activeTab === '/pending'"
	   [ngClass]="{'active-tab': activeTab === '/pending'}">
		<mat-icon>pending_actions</mat-icon>
		<span class="label v-align-middle">A/pending</span>
	</a>


	<span class="toolbar-middle-spacer"></span>

	<span>Menu</span>

	<button mat-icon-button [matMenuTriggerFor]="menuOptions">
		<mat-icon>more_vert</mat-icon>
	</button>
	<mat-menu #menuOptions="matMenu">
		<button mat-menu-item [routerLink]="'/user'">
			<mat-icon>account_circle</mat-icon>
			<span>User panel</span>
		</button>


		<button mat-menu-item>
			<span>---</span>
		</button>

		<button mat-menu-item [routerLink]="'/register'">
			<mat-icon>how_to_reg</mat-icon>
			<span>Register</span>
		</button>

		<button mat-menu-item [routerLink]="'/login'">
			<mat-icon>login</mat-icon>
			<span>Login</span>
		</button>

		<button mat-menu-item>
			<mat-icon>exit_to_app</mat-icon>
			<span>Logout</span>
		</button>
	</mat-menu>

	<mat-menu #themes="matMenu" xPosition="before">
		<button mat-menu-item>
			<mat-icon>wb_sunny</mat-icon>
			Light
		</button>
		<button mat-menu-item>
			<mat-icon>nights_stay</mat-icon>
			Dark
		</button>
	</mat-menu>


</mat-toolbar>
