<div style="text-align: center;">


	<h1 style="text-align: center;">
		Find recycling point near you
	</h1>


</div>

<mat-sidenav-container class="example-container">


	<mat-sidenav mode="side" opened style="width: 200px;">


		<section style="margin-left: 20px;">
			<mat-form-field style="width: 90%;">
				<mat-label>Select city</mat-label>
				<input matInput placeholder="Select city" value="Wrocław">
			</mat-form-field>
			Select category:
			<p *ngFor="let type of wasteCategories">

				<mat-checkbox>
					{{type}}
				</mat-checkbox>
			</p>
		</section>

	</mat-sidenav>
	<mat-sidenav-content>


		<div class="row">
			<div id="places_map"></div>
		</div>
	</mat-sidenav-content>
</mat-sidenav-container>
